body{
    margin: 0;
    padding: 0;
    background-color: #161616;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main{
    padding: 30px 50px;
    position:relative;
    width: 100%;
    height: 100vh;
    box-sizing:border-box;
    background-size: 1400px;
    background-position: right bottom;
  /*  background-image:url('building2.jpg');  */
   
    background-repeat:no-repeat;
    background-color: rgba(0,0,0,0.5);

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family:'poppins';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border-color: #333;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: white;
    font-size: 15px;
}

.logo{
    font-size:25px;
    font-weight: bold;
    color: #929292;
    font-family:'poppins';
    
}
.name{
    font-family:sans-serif;
    width: 50%;
    position: absolute;
    left:7%;
    top: 40%;

}
/*.name p:nth-child(1),.name are use to selectwhen more than one paragraph are given and one  
of the paraghraph select so we can use this tag */
.name p{
    color:blue;
    font-size: 15px;
}
.name h1{
    font-family: poppins;
    font-size:40px;
    margin: 15px;
    letter-spacing: 3px;
    color: #292929;

}
.resume-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#292929;
    color: #ffffff;
    border-radius: 5px;

}
.resume-btn:hover{
    background-color: #131313;
    transition: 0.5s;

}
.black-line{
    width: 50%;
    height: 15%;
    align-self: end;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: 3%;
    border-right: 1px solid rgba(41,41,41,0.30);
}/*
.social media{
    position: absolute;
    left: 50px;;
    bottom: 100px;
    display: flex;

}
.social media a{
    margin:6px 12px;
}
.social media i{
    font-size: 15px;
    color:red;

}
.social media a:hover{
    color:blue;
    transition: all ease 0.5s;
}*/
#social media ul li {list-style :none; padding: 0 0 0 12px; float: right;}
#social media ul li a {text-indent: -9999px; font-size: 0; line-height: 0; overflow: hidden ; height: 32px; width: 32px ;border: 0; background: url(images/social-media.gif) no-repeat; display: block;}

#social media li#g a {background-position: 0px 0px;}
#social media li#g a:hover {background-position: 0px -32px;}


#social media li#sub a {background-position: -64px 0px;}
#social media li#sub a:hover {background-position: -64px -32px;}

#social media li#fb a {background-position: -96px 0px;}
#social media li#fb a:hover {background-position: -96px -32px;}

#social media li#twit a {background-position: -128px 0px;}
#social media li#twit a:hover {background-position: -128px -32px;}

#social media li#li a {background-position: -160px 0px;}
#social media li#li a:hover {background-position: -160px -32px;}

#social media li#youtube a {background-position: -192px 0px;}
#social media li#youtube a:hover {background-position: -192px -32px;}